### 08/04まとめ
- （p値が同じかどうか（必要ない、サンプルが異なるから））
- 選択される特徴量が同じかどうか（ランキングを付けた際に同じ特徴量が選ばれているか）
- サンプル数...to_qubo10_p, to_bqm10_p:100で、enu10_pは210

### 結果
- 最小のpを持つ特徴量は3つの手法どれでも同じだった。
- 各p値やA以外のp値の順番は異なることもあ

In [6]:
import pandas as pd 
import numpy as np

In [11]:
to_qubo10_p = pd.read_csv("../input/to_qubo10_p.csv", sep=',', index_col=0)
to_bqm10_p = pd.read_csv("../input/to_bqm10_p.csv", sep=',', index_col=0)
enu10_p = pd.read_csv("../input/enu10_p.csv", sep=',', index_col=0)

to_bqm10_210samples_p = pd.read_csv("../input/to_bqm10_210samples_p.csv", sep=',', index_col=0)
to_qubo10_210samples_p = pd.read_csv("../input/to_qubo10_210samples_p.csv", sep=',', index_col=0)

In [12]:
to_qubo10_p

      A     B     C     D     E     F     G    H     I    J
0  0.24  0.92  0.43  0.46  0.58  0.66  0.68  1.0  0.98  1.0

In [13]:
to_bqm10_p

      A     B     C     D     E     F     G    H    I    J
0  0.17  0.86  0.44  0.45  0.52  0.81  0.71  1.0  1.0  1.0

In [14]:
enu10_p

,A,B,C,D,E,F,G,H,I,J
0,0.166667,0.880952,0.452381,0.452381,0.547619,0.738095,0.738095,0.995238,0.966667,1.0

In [16]:
to_qubo10_210samples_p

      A     B     C     D     E     F     G    H     I    J
0  0.37  1.87  0.89  0.89  1.27  1.62  1.54  2.1  2.03  2.1

In [25]:
to_bqm10_210samples_p

      A     B     C     D     E     F     G    H     I    J
0  0.37  1.87  0.89  0.89  1.27  1.62  1.54  2.1  2.03  2.1

In [23]:
enu10_p_dic = enu10_p.T.to_dict()
sorted_enu10_p_list = sorted(enu10_p_dic[0].items(), key=lambda x:x[1])
sorted_enu10_p_list

[('A', 0.16666666666666666),
 ('C', 0.4523809523809524),
 ('D', 0.4523809523809524),
 ('E', 0.5476190476190477),
 ('F', 0.7380952380952381),
 ('G', 0.7380952380952381),
 ('B', 0.8809523809523809),
 ('I', 0.9666666666666668),
 ('H', 0.9952380952380953),
 ('J', 1.0)]

In [26]:
to_qubo10_210samples_p_dic = to_qubo10_210samples_p.T.to_dict()
sorted_to_qubo10_210samples_p_list = sorted(to_qubo10_210samples_p_dic[0].items(), key=lambda x:x[1])
sorted_to_qubo10_210samples_p_list

[('A', 0.37),
 ('C', 0.89),
 ('D', 0.89),
 ('E', 1.27),
 ('G', 1.54),
 ('F', 1.62),
 ('B', 1.87),
 ('I', 2.03),
 ('H', 2.1),
 ('J', 2.1)]

In [24]:
to_bqm10_210samples_p_dic = to_bqm10_210samples_p.T.to_dict()
sorted_to_bqm10_210samples_p_list = sorted(to_bqm10_210samples_p_dic[0].items(), key=lambda x:x[1])
sorted_to_bqm10_210samples_p_list

[('A', 0.37),
 ('C', 0.89),
 ('D', 0.89),
 ('E', 1.27),
 ('G', 1.54),
 ('F', 1.62),
 ('B', 1.87),
 ('I', 2.03),
 ('H', 2.1),
 ('J', 2.1)]