In [16]:
!pwd

/Users/shihosato/src/github.com/twinkle13531/master_degree/202012/backup_trial

In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
import sys, os
sys.path.append(os.path.join('..','Random'))
#sys.path.append(os.path.join('..', '..', 'SA'))
#sys.path.append(os.path.join('..', '..', 'QA'))
sys.path.append(os.path.join('..', '4ti2', 'functions'))

In [19]:
#import QA_DwaveSampler_AutoEmbedding as qda
import random_exact_test_functions as ret
#import Neal_exact_test_functions as net
import zsolve_t1 as zt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import time

### 作戦
- zinhomファイルを読み込む
- 得られたyのlistからt1_dicの該当箇所を用いて、yを選別する
- その中からランダムに一つ選ぶ

In [28]:
bit, num = 20, 1
zinhom_path = '../4ti2/{}bit/{}/{}bit_{}.zinhom'.format(bit, num, bit, num)
zinhom_num, zinhom_list = zt.make_result_list(zinhom_path)
print(zinhom_list[:10])

[[1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0], [1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0], [1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0], [1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1], [1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1], [1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1], [1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1], [1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1], [1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1], [1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1]]

In [29]:
ost46_path = '../input/ost46.csv'
ost46 = pd.read_csv(ost46_path, sep=',')

In [30]:
ost46

    Y  LI  SEX  AOP
0   0   1    0    1
1   0   1    0    1
2   0   1    1    0
3   0   1    1    0
4   0   1    1    0
5   0   1    1    0
6   0   1    1    1
7   0   1    1    1
8   0   1    1    1
9   0   1    1    1
10  0   1    1    1
11  0   1    1    1
12  0   1    1    1
13  0   1    1    1
14  0   1    1    1
15  0   1    1    1
16  0   1    1    1
17  1   0    0    0
18  1   0    0    0
19  1   0    0    0
20  1   0    0    1
21  1   0    0    1
22  1   0    1    0
23  1   0    1    0
24  1   0    1    0
25  1   0    1    0
26  1   0    1    1
27  1   1    0    0
28  1   1    0    0
29  1   1    0    0
30  1   1    0    0
31  1   1    0    0
32  1   1    0    1
33  1   1    0    1
34  1   1    0    1
35  1   1    1    0
36  1   1    1    0
37  1   1    1    0
38  1   1    1    0
39  1   1    1    0
40  1   1    1    1
41  1   1    1    1
42  1   1    1    1
43  1   1    1    1
44  1   1    1    1
45  1   1    1    1

In [31]:
mat_path = '../4ti2/{}bit/{}/{}bit_{}.mat'.format(bit, num, bit, num)
with open(mat_path) as f:
    l_strip = [[s.strip()] for s in f.readlines()]

In [32]:
l_strip

[['3 20'],
 ['1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1'],
 ['1 1 1 1 1 1 0 1 1 0 1 0 0 0 1 0 1 1 1 1'],
 ['0 0 1 1 1 0 1 1 1 0 0 0 1 1 1 0 1 0 0 0']]

In [33]:
l_strip[2]

['1 1 1 1 1 1 0 1 1 0 1 0 0 0 1 0 1 1 1 1']

In [34]:
int_y = [int(l_strip[2][0].split()[j]) for j in range(len(l_strip[2][0].split()))]

In [35]:
int_y

[1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1]

In [36]:
int_y = [int(l_strip[3][0].split()[j]) for j in range(len(l_strip[3][0].split()))]

In [37]:
int_y

[0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0]

In [38]:
sex = [int(l_strip[2][0].split()[j]) for j in range(len(l_strip[2][0].split()))]
aop = [int(l_strip[3][0].split()[j]) for j in range(len(l_strip[3][0].split()))]

In [39]:
t1_dic[bit][num]

11

In [40]:
ost_path = '../input/ost.csv'
ost = pd.read_csv(ost_path, sep=',')

In [41]:
ost

    Y  LI  SEX  AOP  COUNT
0   0   0    0    0      0
1   0   0    0    1      0
2   0   0    1    0      0
3   0   0    1    1      0
4   0   1    0    0      0
5   0   1    0    1      2
6   0   1    1    0      4
7   0   1    1    1     11
8   1   0    0    0      3
9   1   0    0    1      2
10  1   0    1    0      4
11  1   0    1    1      1
12  1   1    0    0      5
13  1   1    0    1      3
14  1   1    1    0      5
15  1   1    1    1      6

In [42]:
len(ost)

16

In [46]:
type(ost.iloc[0, 1])

numpy.int64

In [50]:
y_li = tuple((ost.iloc[1, 0], ost.iloc[1, 1]))

In [51]:
y_li

(0, 0)

In [53]:
dd = {00:8, 04:7}
if 5 in dd.keys():
    print('hey')
if 00 in dd.keys():
    print('hoo')

SyntaxError: invalid token (<ipython-input-53-e64d2dd9140e>, line 1)

In [55]:
_01_list = [[0, 0], [0, 1], [1, 0], [1, 1]]

In [58]:
_01_list[2][0]

1

In [59]:
_01_key = '{}{}'.format(_01_list[2][0], _01_list[2][1])

In [60]:
_01_key

'10'

In [74]:
sex_aop_list = [[0, 0], [0, 1], [1, 0], [1, 1]]

ost_sex_aop_dic = {}#{'sex,-aop':{(y-li):count_sum}}
for i in range(len(ost)):
    y_li = tuple((ost.iloc[i, 0], ost.iloc[i, 1]))
    cn = ost.iloc[i, 4]
    #print(cn)
    for sex_aop in sex_aop_list:
        if ost.iloc[i, 2]==sex_aop[0] and ost.iloc[i, 3]==sex_aop[1] and cn >0:
            sex_aop_key = tuple((sex_aop[0], sex_aop[1]))
            
            if sex_aop_key in ost_sex_aop_dic.keys():
                if y_li in ost_sex_aop_dic[sex_aop_key].keys():
                    ost_sex_aop_dic[sex_aop_key][y_li] += cn
                else:
                    ost_sex_aop_dic[sex_aop_key][y_li] = cn
            else:
                ost_sex_aop_dic[sex_aop_key] = {}
                ost_sex_aop_dic[sex_aop_key][y_li] = cn

In [77]:
ost_sex_aop_dic

{(0, 1): {(0, 1): 2, (1, 0): 2, (1, 1): 3},
 (1, 0): {(0, 1): 4, (1, 0): 4, (1, 1): 5},
 (1, 1): {(0, 1): 11, (1, 0): 1, (1, 1): 6},
 (0, 0): {(1, 0): 3, (1, 1): 5}}

In [72]:
ost

    Y  LI  SEX  AOP  COUNT
0   0   0    0    0      0
1   0   0    0    1      0
2   0   0    1    0      0
3   0   0    1    1      0
4   0   1    0    0      0
5   0   1    0    1      2
6   0   1    1    0      4
7   0   1    1    1     11
8   1   0    0    0      3
9   1   0    0    1      2
10  1   0    1    0      4
11  1   0    1    1      1
12  1   1    0    0      5
13  1   1    0    1      3
14  1   1    1    0      5
15  1   1    1    1      6

In [ ]:
for each_y in zinhom_list:

## t1

In [ ]:
##消さない！！！！！！

t1_dic = {20: [8, 11, 10, 7, 7],
 25: [10, 8, 9, 13, 11],
 30: [12, 8, 14, 12, 12],
 35: [13, 14, 14, 15, 14],
 40: [16, 16, 15, 18, 16],
 46: 19}

In [18]:
t1_dic = {}
for bit in [20, 25, 30, 35, 40, 46]:
    if bit != 46:
        t1_dic[bit] = []
        for num in [0, 1, 2, 3, 4]:
            df_path = '../../input/ost{}_{}.csv'.format(bit, num)
            df = pd.read_csv(df_path, sep=',')
            t_list = ret.calc_marginals(df)
            t1_dic[bit].append(t_list[1])
    else:
        df_path = '../../input/ost{}.csv'.format(bit)
        df = pd.read_csv(df_path, sep=',')
        t_list = ret.calc_marginals(df)
        t1_dic[46] = t_list[1]

In [19]:
t1_dic

{20: [8, 11, 10, 7, 7],
 25: [10, 8, 9, 13, 11],
 30: [12, 8, 14, 12, 12],
 35: [13, 14, 14, 15, 14],
 40: [16, 16, 15, 18, 16],
 46: 19}

## exhaustive enumeration
### {bit:{num:[valid_y_num, time, pertime, same_t1_y_num, p_value]}}

In [30]:
enu_time_dic = {}
enu_time_dic[20] = [4.94, 0.23, 2.47, 0.13, 0.08]
enu_time_dic[25] = [6.26, 1.45, 522.78, 60.29, 4.29]
enu_time_dic[30] = [114590.22, 70282.15, 4964.31, 2701.98, 594.18]

In [31]:
enu_time_dic

{20: [4.94, 0.23, 2.47, 0.13, 0.08],
 25: [6.26, 1.45, 522.78, 60.29, 4.29],
 30: [114590.22, 70282.15, 4964.31, 2701.98, 594.18]}

In [42]:
enu_valid_y_info_dic = {}
for bit in [20, 25, 30]:
    enu_valid_y_info_dic[bit] = {}
    for num in [0, 1, 2, 3, 4]:
        enu_valid_y_info_dic[bit][num] = []
        path = "../../input/ost{}_{}.csv".format(bit, num)
        df = pd.read_csv(path, sep=',')
        zinhom_path = '../../4ti2/{}bit/{}/{}bit_{}.zinhom'.format(bit, num, bit, num)
        zinhom_num, zinhom_list = zt.make_result_list(zinhom_path)
        p, num_sample = zt.calucurate_p(df, zinhom_list)
        
        enu_valid_y_info_dic[bit][num].append(num_sample)#valid_y_num
        enu_valid_y_info_dic[bit][num].append(enu_time_dic[bit][num])
        enu_valid_y_info_dic[bit][num].append(enu_time_dic[bit][num]/num_sample)
        enu_valid_y_info_dic[bit][num].append(p*num_sample)#same_t1_y_num
        enu_valid_y_info_dic[bit][num].append(p)#same_t1_y_num

In [43]:
enu_valid_y_info_dic

{20: {0: [16464, 4.94, 0.0003000485908649174, 3780.0, 0.22959183673469388],
  1: [2940, 0.23, 7.823129251700681e-05, 1225.0, 0.4166666666666667],
  2: [1050, 2.47, 0.0023523809523809526, 500.0, 0.47619047619047616],
  3: [2640, 0.13, 4.9242424242424245e-05, 1430.0, 0.5416666666666666],
  4: [2464, 0.08, 3.246753246753247e-05, 720.0, 0.2922077922077922]},
 25: {0: [12600, 6.26, 0.0004968253968253968, 1050.0, 0.08333333333333333],
  1: [5850,
   1.45,
   0.00024786324786324785,
   839.9999999999999,
   0.14358974358974358],
  2: [109010, 522.78, 0.00479570681588845, 10560.0, 0.09687184661957618],
  3: [23460, 60.29, 0.002569906223358909, 16560.0, 0.7058823529411765],
  4: [1260, 4.29, 0.003404761904761905, 168.0, 0.13333333333333333]},
 30: {0: [58296, 114590.22, 1.965661794977357, 2600.0, 0.04459997255386304],
  1: [819390, 70282.15, 0.08577374632348454, 11220.0, 0.01369311316955296],
  2: [205920, 4964.31, 0.024107954545454547, 35640.0, 0.17307692307692307],
  3: [168168, 2701.98, 0.01606714713857571, 17446.0, 0.10374149659863946],
  4: [89100, 594.18, 0.006668686868686868, 8580.0, 0.0962962962962963]}}

## random 
### {bit:{num:[valid_y_num, time, pertime, same_t1_y_num, p_value, num_occurrence, total_valid_y]}}

In [24]:
num_reads = 10000
random_valid_y_info_dic = {}
for bit in [20, 25, 30, 35, 40, 46]:
    if bit != 46:
        random_valid_y_info_dic[bit] = {}
        for num in [0, 1, 2, 3, 4]:
            random_valid_y_info_dic[bit][num] = []
            df_path = '../../input/ost{}_{}.csv'.format(bit, num)
            df = pd.read_csv(df_path, sep=',')
            t_list = ret.calc_marginals(df)
            valid_y_dic, calculation_time = ret.find_valid_y(df, num_reads)

            valid_y_num = len(valid_y_dic)
            if valid_y_num > 0:
                random_valid_y_info_dic[bit][num].append(valid_y_num)#valid_y_num
                random_valid_y_info_dic[bit][num].append(calculation_time)
                random_valid_y_info_dic[bit][num].append(calculation_time/len(valid_y_dic))

                t1 = t_list[1]
                t1_y = 0
                for candi_y in list(valid_y_dic.keys()):
                    if np.dot(df['LI'], pd.Series(candi_y)) == t1:
                        t1_y += 1
                random_valid_y_info_dic[bit][num].append(t1_y)#same_t1_y_num
                random_valid_y_info_dic[bit][num].append(t1_y/valid_y_num)#same_t1_y_num
            
            
    else:
        random_valid_y_info_dic[bit] = []
        df_path = '../../input/ost{}.csv'.format(bit)
        df = pd.read_csv(df_path, sep=',')
        t_list = ret.calc_marginals(df)
        valid_y_dic, calculation_time = ret.find_valid_y(df, num_reads)
        
        valid_y_num = len(valid_y_dic)
        if valid_y_num > 0:
            random_valid_y_info_dic[bit].append(valid_y_num)#valid_y_num
            random_valid_y_info_dic[bit].append(calculation_time)
            random_valid_y_info_dic[bit].append(calculation_time/len(valid_y_dic))

            t1 = t_list[1]
            t1_y = 0
            for candi_y in list(valid_y_dic.keys()):
                if np.dot(df['LI'], pd.Series(candi_y)) == t1:
                    t1_y += 1
            random_valid_y_info_dic[bit].append(t1_y)#same_t1_y_num
            random_valid_y_info_dic[bit].append(t1_y/valid_y_num)#same_t1_y_num

In [25]:
random_valid_y_info_dic

{20: {0: [152,
   0.9085249900817871,
   0.0059771380926433365,
   36,
   0.23684210526315788],
  1: [25, 0.38257789611816406, 0.015303115844726562, 12, 0.48],
  2: [11, 0.3179290294647217, 0.028902639042247425, 4, 0.36363636363636365],
  3: [19, 1.074479103088379, 0.056551531741493626, 10, 0.5263157894736842],
  4: [23, 0.9098200798034668, 0.039557394774063774, 3, 0.13043478260869565]},
 25: {0: [4, 0.46073293685913086, 0.11518323421478271, 0, 0.0],
  1: [],
  2: [28, 0.904005765914917, 0.032285920211247036, 4, 0.14285714285714285],
  3: [8, 0.6662981510162354, 0.08328726887702942, 5, 0.625],
  4: [1, 0.3448147773742676, 0.3448147773742676, 0, 0.0]},
 30: {0: [],
  1: [13, 0.8195061683654785, 0.06303893602811374, 0, 0.0],
  2: [4, 0.44954395294189453, 0.11238598823547363, 0, 0.0],
  3: [4, 0.5393242835998535, 0.13483107089996338, 0, 0.0],
  4: []},
 35: {0: [],
  1: [4, 0.5745761394500732, 0.1436440348625183, 0, 0.0],
  2: [4, 0.43874287605285645, 0.10968571901321411, 0, 0.0],
  3: [],
  4: []},
 40: {0: [],
  1: [],
  2: [],
  3: [2, 0.34435176849365234, 0.17217588424682617, 0, 0.0],
  4: []},
 46: []}

## SA 
### {bit:{num:[valid_y_num, time, pertime, same_t1_y_num, p_value, num_occurrence, total_valid_y]}}

In [44]:
num_reads = 10000
SA_valid_y_info_dic = {}
for bit in [20, 25, 30, 35, 40, 46]:
    if bit != 46:
        SA_valid_y_info_dic[bit] = {}
        for num in [0, 1, 2, 3, 4]:
            SA_valid_y_info_dic[bit][num] = []
            path = '../../input/ost{}_{}.csv'.format(bit, num)
            df = pd.read_csv(path, sep=',')

            time_0 = time.time()
            res = net.make_res_data(df, num_reads)
            valid_y_dic = net.find_valid_y(res)
            time_1 = time.time()
            calculation_time = time_1 - time_0

            valid_y_num = len(valid_y_dic)
            if valid_y_num > 0:
                SA_valid_y_info_dic[bit][num].append(valid_y_num)#valid_y_num
                SA_valid_y_info_dic[bit][num].append(calculation_time)
                SA_valid_y_info_dic[bit][num].append(calculation_time/len(valid_y_dic))

                t1 = np.dot(df['Y'], df['LI'])
                t1_y = 0
                for candi_y in list(valid_y_dic.keys()):
                    if np.dot(df['LI'], pd.Series(candi_y)) == t1:
                        t1_y += 1
                SA_valid_y_info_dic[bit][num].append(t1_y)#same_t1_y_num
                SA_valid_y_info_dic[bit][num].append(t1_y/valid_y_num)#same_t1_y_num
    else:
        SA_valid_y_info_dic[bit] = []
        path = '../../input/ost{}_{}.csv'.format(bit, num)
        df = pd.read_csv(path, sep=',')

        time_0 = time.time()
        res = net.make_res_data(df, num_reads)
        valid_y_dic = net.find_valid_y(res)
        time_1 = time.time()
        calculation_time = time_1 - time_0

        valid_y_num = len(valid_y_dic)
        if valid_y_num > 0:
            SA_valid_y_info_dic[bit].append(valid_y_num)#valid_y_num
            SA_valid_y_info_dic[bit].append(calculation_time)
            SA_valid_y_info_dic[bit].append(calculation_time/len(valid_y_dic))

            t1 = np.dot(df['Y'], df['LI'])
            t1_y = 0
            for candi_y in list(valid_y_dic.keys()):
                if np.dot(df['LI'], pd.Series(candi_y)) == t1:
                    t1_y += 1
            SA_valid_y_info_dic[bit].append(t1_y)#same_t1_y_num
            SA_valid_y_info_dic[bit].append(t1_y/valid_y_num)#same_t1_y_num

FileNotFoundError: [Errno 2] File ../../input/ost46_4.csv does not exist: '../../input/ost46_4.csv'

In [ ]:
SA_valid_y_info_dic

## QA 
### {bit:{num:[valid_y_num, time, pertime, same_t1_y_num, p_value, num_occurrence, total_valid_y, chain_strength, broken_percent]}}

In [ ]:
num_reads = 10000
random_valid_y_info_dic = {}
for bit in [20, 25, 30, 35, 40]:
    
    random_valid_y_info_dic[bit] = {}
    for num in [0, 1, 2, 3, 4]:
        random_valid_y_info_dic[bit][num] = []
        df_path = '../input/ost{}_{}.csv'.format(bit, num)
        df = pd.read_csv(df_path, sep=',')
        t_list = ret.calc_marginals(df)
        valid_y_dic, calculation_time = ret.find_valid_y(df, num_reads)
        
        valid_y_num = len(valid_y_dic)
        if valid_y_num > 0:
            random_valid_y_info_dic[bit][num].append(valid_y_num)#valid_y_num

            t1 = t_list[1]
            t1_y = 0
            for candi_y in list(valid_y_dic.keys()):
                if np.dot(df['LI'], pd.Series(candi_y)) == t1:
                    t1_y += 1
            random_valid_y_info_dic[bit][num].append(t1_y)#same_t1_y_num
            random_valid_y_info_dic[bit][num].append(t1_y/valid_y_num)#same_t1_y_num