### このノート
- mashroomを用いて使えるデータを作る

In [1]:
import pandas as pd
import numpy as np

In [2]:
ost = pd.read_csv("../../input/ost.csv")

In [3]:
ost

    Y  LI  SEX  AOP  COUNT
0   0   0    0    0      0
1   0   0    0    1      0
2   0   0    1    0      0
3   0   0    1    1      0
4   0   1    0    0      0
5   0   1    0    1      2
6   0   1    1    0      4
7   0   1    1    1     11
8   1   0    0    0      3
9   1   0    0    1      2
10  1   0    1    0      4
11  1   0    1    1      1
12  1   1    0    0      5
13  1   1    0    1      3
14  1   1    1    0      5
15  1   1    1    1      6

In [4]:
def mak_ost_df(ost, num_sample):
    ost_df = pd.DataFrame(columns = ost.columns[:-1])
    for i in range(ost.shape[0]):
        for ii in range(ost.iloc[i, -1]):
            ost_df = ost_df.append(ost.iloc[i, :-1])
             
    ost_num_df = ost_df.sample(n=num_sample)
    ost_num_df = ost_num_df.reset_index(drop=True)
    return ost_num_df

In [5]:
ost_16_df = mak_ost_df(ost, 16)
ost_16_df

ost_16_df.to_csv('../../input/ost16_1.csv')