In [13]:
sex    <- c("F","F","M","M","M")
 height <- c(158,162,177,173,166)
 weight <- c(51,55,72,57,64)
x    <- data.frame(SEX=sex, HEIGHT=height, WEIGHT=weight) 
x

  SEX HEIGHT WEIGHT
1 F   158    51
2 F   162    55
3 M   177    72
4 M   173    57
5 M   166    64

In [14]:
x$HEIGHT[x$HEIGHT　== 162] <- 160
x

  SEX HEIGHT WEIGHT
1 F   158    51
2 F   160    55
3 M   177    72
4 M   173    57
5 M   166    64

In [7]:
x$HEIGHT[x$HEIGHT==0]<- 0.1

  SEX HEIGHT WEIGHT
1 F   0.1    51
2 F   0.1    55
3 M   0.1    72
4 M   0.1    57
5 M   0.1    64

In [4]:
m <- as.matrix(x)
m$HEIGHT<- 0
xx <- as.data.frame(m)
xx

Warning message in m$HEIGHT <- 0:
“ 左辺をリストに変換しました ”

  X.F. X.F..1 X.M. X.M..1 X.M..2 X.158. X.162. X.177. X.173. X.166. X.51. X.55.
1 F    F      M    M      M      158    162    177    173    166    51    55
  X.72. X.57. X.64. HEIGHT
1 72    57    64    0