# å†…å®¹
```meeting_0122_0```ã®ãƒ•ã‚¡ã‚¤ãƒ«çµæœã¾ã¨ã‚ã€‚

```meeting_0122_0_1```(åˆ†é¡)ã¨```meeting_0122_0_2```(å›å¸°)ã§å®Ÿè¡Œ
<br/>
* åˆ†é¡ã¨å›å¸°ã§ã®æ¯”è¼ƒã‚’ã—ã¤ã¤â€¦
    * num_selectå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
    * MCMC_stepå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
    * MCMC_step_eachå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
    * Max_temperå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
    
* å…¨è§£æ¢ç´¢ã«è¿‘ã„çµæœã‚’å‡ºã™

ç¨²ã®ãƒ‡ãƒ¼ã‚¿ã§ã™ã‚‹ã€‚ç¨²ã¯ç‰¹å¾´é‡(èª¬æ˜å¤‰æ•°)ãŒãƒã‚¤ãƒŠãƒªã§ï¼ˆyes, noã¨è€ƒãˆã‚‹ï¼‰ã€ç›®çš„é–¢æ•°ãŒfloat
å›å¸°ã§ã—ãªã„ã¨ã„ã‘ãªã„ã€‚

# çµæœ

## å‚è€ƒ

```python
'training_markers.txt', 'training_yields.txt'
```
ï¼ˆç‰¹å¾´é‡```20```ï¼‰ã®å…¨è§£æ¢ç´¢(åˆ†é¡)ã®çµæœğŸ‘‡

æ¨ªè»¸ï¼šç‰¹å¾´é‡æ•°ã€å˜ä½ï¼šé€šã‚Š
<img src = '20200126173200.png'>

## 1.  num_selectå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
* å›ºå®šå¤‰æ•°ï¼šMCMC_step = 100, MCMC_step_each = 5, Max_temper = 1000

In [6]:
import pandas as pd
num_E0_Yreg_df = pd.DataFrame()
num_E0_Yreg_df['y selected featrues are same'] = ['', 7754, 1693, 370, 66, 26, 14, 11, 5, 4, 6, 2, 10, 9, 35, 119, 159, 783, 1940, 8914]
num_E0_Yreg_df.T.columns.name = 'num_select'
num_E0_Yreg_df.T

num_select,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
y selected featrues are same,,7754,1693,370,66,26,14,11,5,4,6,2,10,9,35,119,159,783,1940,8914

In [7]:
# é€Ÿã„
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()
num_E0_Yclassifi_df['y selected featrues are same'] = ['', 6864, 1617, 435, 132, 43, 12, 9, 4, 6, 3, 7, 15, 17, 46, 187, 230, 633, 1939, 6603]
num_E0_Yclassifi_df.T.columns.name = 'num_select'
num_E0_Yclassifi_df.T

num_select,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
y selected featrues are same,,6864,1617,435,132,43,12,9,4,6,3,7,15,17,46,187,230,633,1939,6603

## 2.  MCMC_stepå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
* å›ºå®šå¤‰æ•°ï¼šnum_select = 3, MCMC_step_each = 5, Max_temper = 1000

In [9]:
num_E0_Yreg_df = pd.DataFrame()

num_E0_Yreg_dic = {100:370, 200:646, 500:1210, 1000:1931, 2000:}

num_E0_Yreg_df = num_E0_Yreg_df.append(num_E0_Yreg_dic, ignore_index=True)
num_E0_Yreg_df.index = ['y selected featrues are same']
num_E0_Yreg_df.T.columns.name = 'MCMC_step'
num_E0_Yreg_df

                               100    200     500     1000
MCMC_step
y selected featrues are same  370.0  646.0  1210.0  1931.0

In [10]:
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()

num_E0_Yclassifi_dic = {100:435, 200:705, 500:1242, 1000:1794, 2000:}

num_E0_Yclassifi_df = num_E0_Yclassifi_df.append(num_E0_Yclassifi_dic, ignore_index=True)
num_E0_Yclassifi_df.index = ['y selected featrues are same']
num_E0_Yclassifi_df.T.columns.name = 'MCMC_step'
num_E0_Yclassifi_df

                               100    200     500     1000
MCMC_step
y selected featrues are same  435.0  705.0  1242.0  1794.0

## 3.  MCMC_step_eachå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
* å›ºå®šå¤‰æ•°ï¼šnum_select = 3, MCMC_step = 100, Max_temper = 1000

In [11]:
import pandas as pd
num_E0_Yreg_df = pd.DataFrame()

num_E0_Yreg_dic = {5:370,10:379,20:425}

num_E0_Yreg_df = num_E0_Yreg_df.append(num_E0_Yreg_dic, ignore_index=True)
num_E0_Yreg_df.index = ['y selected featrues are same']
num_E0_Yreg_df.T.columns.name = 'MCMC_step_each'
num_E0_Yreg_df

                                 5      10     20
MCMC_step_each
y selected featrues are same  370.0  379.0  425.0

In [12]:
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()

num_E0_Yclassifi_dic = {5:435,10:442,20:452}

num_E0_Yclassifi_df = num_E0_Yclassifi_df.append(num_E0_Yclassifi_dic, ignore_index=True)
num_E0_Yclassifi_df.index = ['y selected featrues are same']
num_E0_Yclassifi_df.T.columns.name = 'MCMC_step_each'
num_E0_Yclassifi_df

                                 5      10     20
MCMC_step_each
y selected featrues are same  435.0  442.0  452.0

## 4.  Max_temperå€¤ã®é•ã„ã«ã‚ˆã‚‹æ¯”è¼ƒ
* å›ºå®šå¤‰æ•°ï¼šnum_select = 3, MCMC_step = 100, MCMC_step_each = 5

In [13]:
import pandas as pd
num_E0_Yreg_df = pd.DataFrame()

num_E0_Yreg_dic = {1000:370, 1500:425, 2000:634, 5000:1246}

num_E0_Yreg_df = num_E0_Yreg_df.append(num_E0_Yreg_dic, ignore_index=True)
num_E0_Yreg_df.index = ['y selected featrues are same']
num_E0_Yreg_df.T.columns.name = 'Max_temper'
num_E0_Yreg_df

                               1000   1500   2000    5000
Max_temper
y selected featrues are same  370.0  425.0  634.0  1246.0

In [15]:
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()

num_E0_Yclassifi_dic = {1000:435, 1500:581, 2000:725, 5000:1324}

num_E0_Yclassifi_df = num_E0_Yclassifi_df.append(num_E0_Yclassifi_dic, ignore_index=True)
num_E0_Yclassifi_df.index = ['y selected featrues are same']
num_E0_Yclassifi_df.T.columns.name = 'Max_temper'
num_E0_Yclassifi_df

                               1000   1500   2000    5000
Max_temper
y selected featrues are same  435.0  581.0  725.0  1324.0

## 5.  num_select = 3ã®å…¨è§£æ¢ç´¢å€¤2870é€šã‚Šï¼ˆåˆ†é¡ï¼‰ã‚’æ±‚ã‚ã¦
* MCMC_step = 1000, MCMC_step_each = 20, Max_temper=5000
  * å›å¸°...3141ï¼ˆå›å¸°ã®å€¤ã¯èª¿ã¹ã¦ã„ãªã„ï¼‰
  * åˆ†é¡...2846ã€€â¬…è¿‘ã„ï¼

----------------------------------------------------------------------------------
# æ—¥è¨˜

2020/01/27
## çµæœ
```num_select = 3```ã®å…¨è§£æ¢ç´¢å€¤2870é€šã‚Šï¼ˆåˆ†é¡ï¼‰ã‚’ã»ã¼é”æˆã—ãŸã€‚
```MCMC_step = 1000, MCMC_step_each = 20, Max_temper=5000```ã«ãŠã„ã¦å›å¸°ã§ã¯3141é€šã‚Šã€åˆ†é¡ã§ã¯2846é€šã‚Šã¨ãªã£ãŸã€‚
åˆ†é¡ã ã¨```2846```ã¨ã€å…¨è§£æ¢ç´¢ã¨è¿‘ããªã£ãŸã®ã§è‰¯ã‹ã£ãŸã¨ã™ã‚‹ã€‚

2020/01/22
* çµæœã‚’ã™ã¹ã¦ã¯ç¤ºã›ãªã‹ã£ãŸ

## çµæœ
MCMC_step_eachå€¤ã‚’å¤§ããã™ã‚‹ã¨ã‚ˆã‚Šãƒãƒªã‚¨ãƒ¼ã‚·ãƒ§ãƒ³ã®ã‚ã‚‹yãŒå‡ºã¦ãã‚‹

## ä»Šæ—¥ã®åçœ
ã“ã®ãƒ‡ãƒ¼ã‚¿ã§å…¨è§£æ¢ç´¢ã—ã¦ãªã„â¡æ¸ˆ

## ç–‘å•
æ¸©åº¦ã‚’ä¸Šã’ã¦ã‚‚è§£ãŒå¢—ãˆãªã„ç‚¹â¡è§£æ±ºï¼ˆè¨‚æ­£æ¸ˆã¿ï¼‰

<br/>

2020/01/14

## å†…å®¹
* ```meeting_0122_0```ã®ãƒ•ã‚¡ã‚¤ãƒ«çµæœã¾ã¨ã‚ã€‚
* ```num_select```ã‚’å¤‰æ›´ã™ã‚‹ã€‚

## åçœ
ã‚¨ãƒãƒ«ã‚®ãƒ¼ãŒ```0```ã®ã¨ããŒã©ã‚“ãª```y```ãªã®ã‹ã‚ã‹ã‚‰ãªã„

## ã™ã¹ãã“ã¨
çµ±è¨ˆã‚’å–ã‚‹