# 内容
```meeting_0122_0```のファイル結果まとめ。

```meeting_0122_0_1```(分類)と```meeting_0122_0_2```(回帰)で実行
<br/>
* 分類と回帰での比較をしつつ…
    * num_select値の違いによる比較
    * MCMC_step値の違いによる比較
    * MCMC_step_each値の違いによる比較
    * Max_temper値の違いによる比較
    
* 全解探索に近い結果を出す

稲のデータでする。稲は特徴量(説明変数)がバイナリで（yes, noと考える）、目的関数がfloat
回帰でしないといけない。

# 結果

## 参考

```python
'training_markers.txt', 'training_yields.txt'
```
（特徴量```20```）の全解探索(分類)の結果👇

横軸：特徴量数、単位：通り
<img src = '20200126173200.png'>

## 1.  num_select値の違いによる比較
* 固定変数：MCMC_step = 100, MCMC_step_each = 5, Max_temper = 1000

In [6]:
import pandas as pd
num_E0_Yreg_df = pd.DataFrame()
num_E0_Yreg_df['y selected featrues are same'] = ['', 7754, 1693, 370, 66, 26, 14, 11, 5, 4, 6, 2, 10, 9, 35, 119, 159, 783, 1940, 8914]
num_E0_Yreg_df.T.columns.name = 'num_select'
num_E0_Yreg_df.T

num_select,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
y selected featrues are same,,7754,1693,370,66,26,14,11,5,4,6,2,10,9,35,119,159,783,1940,8914

In [7]:
# 速い
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()
num_E0_Yclassifi_df['y selected featrues are same'] = ['', 6864, 1617, 435, 132, 43, 12, 9, 4, 6, 3, 7, 15, 17, 46, 187, 230, 633, 1939, 6603]
num_E0_Yclassifi_df.T.columns.name = 'num_select'
num_E0_Yclassifi_df.T

num_select,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
y selected featrues are same,,6864,1617,435,132,43,12,9,4,6,3,7,15,17,46,187,230,633,1939,6603

## 2.  MCMC_step値の違いによる比較
* 固定変数：num_select = 3, MCMC_step_each = 5, Max_temper = 1000

In [9]:
num_E0_Yreg_df = pd.DataFrame()

num_E0_Yreg_dic = {100:370, 200:646, 500:1210, 1000:1931, 2000:}

num_E0_Yreg_df = num_E0_Yreg_df.append(num_E0_Yreg_dic, ignore_index=True)
num_E0_Yreg_df.index = ['y selected featrues are same']
num_E0_Yreg_df.T.columns.name = 'MCMC_step'
num_E0_Yreg_df

                               100    200     500     1000
MCMC_step
y selected featrues are same  370.0  646.0  1210.0  1931.0

In [10]:
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()

num_E0_Yclassifi_dic = {100:435, 200:705, 500:1242, 1000:1794, 2000:}

num_E0_Yclassifi_df = num_E0_Yclassifi_df.append(num_E0_Yclassifi_dic, ignore_index=True)
num_E0_Yclassifi_df.index = ['y selected featrues are same']
num_E0_Yclassifi_df.T.columns.name = 'MCMC_step'
num_E0_Yclassifi_df

                               100    200     500     1000
MCMC_step
y selected featrues are same  435.0  705.0  1242.0  1794.0

## 3.  MCMC_step_each値の違いによる比較
* 固定変数：num_select = 3, MCMC_step = 100, Max_temper = 1000

In [11]:
import pandas as pd
num_E0_Yreg_df = pd.DataFrame()

num_E0_Yreg_dic = {5:370,10:379,20:425}

num_E0_Yreg_df = num_E0_Yreg_df.append(num_E0_Yreg_dic, ignore_index=True)
num_E0_Yreg_df.index = ['y selected featrues are same']
num_E0_Yreg_df.T.columns.name = 'MCMC_step_each'
num_E0_Yreg_df

                                 5      10     20
MCMC_step_each
y selected featrues are same  370.0  379.0  425.0

In [12]:
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()

num_E0_Yclassifi_dic = {5:435,10:442,20:452}

num_E0_Yclassifi_df = num_E0_Yclassifi_df.append(num_E0_Yclassifi_dic, ignore_index=True)
num_E0_Yclassifi_df.index = ['y selected featrues are same']
num_E0_Yclassifi_df.T.columns.name = 'MCMC_step_each'
num_E0_Yclassifi_df

                                 5      10     20
MCMC_step_each
y selected featrues are same  435.0  442.0  452.0

## 4.  Max_temper値の違いによる比較
* 固定変数：num_select = 3, MCMC_step = 100, MCMC_step_each = 5

In [13]:
import pandas as pd
num_E0_Yreg_df = pd.DataFrame()

num_E0_Yreg_dic = {1000:370, 1500:425, 2000:634, 5000:1246}

num_E0_Yreg_df = num_E0_Yreg_df.append(num_E0_Yreg_dic, ignore_index=True)
num_E0_Yreg_df.index = ['y selected featrues are same']
num_E0_Yreg_df.T.columns.name = 'Max_temper'
num_E0_Yreg_df

                               1000   1500   2000    5000
Max_temper
y selected featrues are same  370.0  425.0  634.0  1246.0

In [15]:
import pandas as pd
num_E0_Yclassifi_df = pd.DataFrame()

num_E0_Yclassifi_dic = {1000:435, 1500:581, 2000:725, 5000:1324}

num_E0_Yclassifi_df = num_E0_Yclassifi_df.append(num_E0_Yclassifi_dic, ignore_index=True)
num_E0_Yclassifi_df.index = ['y selected featrues are same']
num_E0_Yclassifi_df.T.columns.name = 'Max_temper'
num_E0_Yclassifi_df

                               1000   1500   2000    5000
Max_temper
y selected featrues are same  435.0  581.0  725.0  1324.0

## 5.  num_select = 3の全解探索値2870通り（分類）を求めて
* MCMC_step = 1000, MCMC_step_each = 20, Max_temper=5000
  * 回帰...3141（回帰の値は調べていない）
  * 分類...2846　⬅近い！

----------------------------------------------------------------------------------
# 日記

2020/01/27
## 結果
```num_select = 3```の全解探索値2870通り（分類）をほぼ達成した。
```MCMC_step = 1000, MCMC_step_each = 20, Max_temper=5000```において回帰では3141通り、分類では2846通りとなった。
分類だと```2846```と、全解探索と近くなったので良かったとする。

2020/01/22
* 結果をすべては示せなかった

## 結果
MCMC_step_each値を大きくするとよりバリエーションのあるyが出てくる

## 今日の反省
このデータで全解探索してない➡済

## 疑問
温度を上げても解が増えない点➡解決（訂正済み）

<br/>

2020/01/14

## 内容
* ```meeting_0122_0```のファイル結果まとめ。
* ```num_select```を変更する。

## 反省
エネルギーが```0```のときがどんな```y```なのかわからない

## すべきこと
統計を取る