参考文献<br/>
https://logics-of-blue.com/information-theory-basic/　<br/>
https://www.jstage.jst.go.jp/article/yakushi/128/11/128_11_1525/_pdf/-char/ja <br/>
http://watanabe-www.math.dis.titech.ac.jp/users/swatanab/klinf.html

https://github.com/tsudalab/mp-lamp/blob/master/samples/sample_data/sample_item.csv
に関する質問、確認
* 転写因子１つを発現させたときにある遺伝子が発現するかどうかを示した表、という理解であっているかどうか
* 転写因子はいくつもある中から今回は4つ挙げたということだろうか

Selective Inference
* 統計的仮説検定法
* データに基づいて選択された仮説を同一のデータで評価する際に、選択バイアスを除去するため、仮説を選択するイベントの条件付分布により統計的仮 説検定を行うもの
* データに基づくモデル選択の影響を適切に扱った統計的推測

## エントロピー
$I\left(p(x)\right)=-\int p(x)log\left(p(x)\right)dx$

* $I\left(p(x)\right)$..確率変数xに関するエントロピー。確率変数xがどんな値になるかを知るときに得られる情報量の期待値
* $p(x)$...確率変数$x$の確率密度分布


# 相互情報量

$I(B;C)=H(B)+H(C)-H(B|C)$
* $I(B;C)$...CがわかったことでどれほどBの不確実性が減ったか。相互情報量
* $H(B)$...Bの不確実性。Bのもつ情報エントロピー
* $H(C)$...Cの不確実性。Cのもつ情報エントロピー
* $H(B|C)$...CがわかったときのBの不確実性。条件付きエントロピー

不確実性＝情報エントロピー＝平均情報量

### ある遺伝子が転写因子がわかるとどれくらいエントロピーが減るのか調べる
まず
* $B$=遺伝子G
* $C$=転写因子TF

とし、
* $H(B)$=(遺伝子Gが発現するか否か)
* $H(B|C)$=(転写因子TFがわかったとき遺伝子Gが発現するか否か)
とする。

すなわち
$I(G;TF)=H(G)-H(G|TF)$
を求めることにする。

まず$H(G)$について<br/>
今発現するか否かは$0, 1$なので、どの遺伝子においても
$$
\begin{align}
H(G)&=\sum_{i=1}^2-P(x_i)✕log_2P(x_i)\\
&=-\frac{1}{2}✕
\left\{log_2\frac{1}{2}+log_2\frac{1}{2}
\right\}\\
&=1
\end{align}
$$

次に$H(G|TF)$について<br/>
遺伝子と転写因子がわかると発現するか否かはわかる。
すなわち

$$
\begin{align}
H(G|TF)&=\sum^1_{i=1}-P(x_i)✕log_2P(x_i)\\
&=-1✕log_21\\
&=0
\end{align}
$$

以上より全ての遺伝子、転写因子において
$$
\begin{align}
I(G;TF)&=H(G)-H(G|TF)\\
&=1-0\\
&=1
\end{align}
$$
<br/>

### 転写因子による発現状態を比較することで、遺伝子間の関連性を調べる
もし$X, Y$が比較したい配列であるとすると、相互情報量によって、2配列がどれほど類似した塩基の並び順であるかを表すことができる<br/>

もし$X, Y$を比較したい遺伝子とし、$i, j=$ (発現状態)とすると、
$$I(X;Y)=\sum_{\begin{array}{c}i=0,1\\j=0, 1\end{array}} P_{i, j}log_2
\left(\frac{P_{ij}}{P_iP_j}
\right)$$
となる

練習として
* $X=G_1$
* $Y=G_2$

とする。$G_1, G_2$はそれぞれ

* $G_1=(1, 1, 1, 0)$
* $G_2=(1, 1, 1, 0)$

である。
各発現状態の出現確率$[P(X), P(Y)]$はそれぞれ

* $P(X_0)=\frac{1}{4}$

* $P(X_1)=\frac{3}{4}$

* $P(Y_0)=\frac{1}{4}$

* $P(Y_1)=\frac{3}{4}$

また各転写因子における遺伝子Xと遺伝子Yの同じ発現となる確率$[P(X;Y)]$は
* $P(X_0;Y_0)=\frac{1}{4}$
* $P(X_1;Y_1)=\frac{3}{4}$

したがって遺伝子Xと遺伝子Yの相互情報量は
$$
\begin{align}
I(X;Y)&=P_{00}log_2\frac{P_{00}}{P_0P_0}+P_{11}log_2\frac{P_{11}}{P_1P_1}\\
&=\frac{1}{4}log_2\frac{\frac{1}{4}}{\frac{1}{4}✕\frac{1}{4}}+\frac{3}{4}log_2\frac{\frac{3}{4}}{\frac{3}{4}✕\frac{3}{4}}\\
&≒0.81
\end{align}
$$

# 相対エントロピー＝Kullback–Leibler divergence

* 情報源$q(x)$からのデータを、受信機$p(x)$で符号化するときの符号長
* 確率分布の差異を表す指標、分布間擬距離
* KLダイバージェンスの最小化=尤度の最大化
* 相対エントロピーの最小化=最尤推定

$H(p||q)=\sum_xp(x)logp(x)-\sum_xp(x)logq(x)$

* $H(p||q)$...相対エントロピー。

<img src="../images/2019-07-12 8.56.17.png">
<img src="../images/2019-07-12 8.58.27.png">
<img src="../images/2019-07-09 23.34.15.png">
<img src="../images/2019-07-09 23.34.03.png">

* 相互情報量が足し算になるのか。
* TF1-4が仮に全部の転写因子だとしたとき、そして全部発現したとき、遺伝子が発現したかどうかの結果 = sample_expression_over1.csv
* 大体の転写因子は一緒に働く

In [1]:
import pandas as pd
left  = pd.read_csv('sample_item.csv', index_col=0) #1列目をインデックスにしたい場合
right = pd.read_csv('sample_expression_over1.csv', index_col=0) #1列目をインデックスにしたい場合

df = left.join(right)

df.to_csv('sample.csv')

In [2]:
pd.read_csv('sample.csv', index_col=0)

       TF1  TF2  TF3  TF4  expression
#gene
A        1    1    1    0           1
B        1    1    1    0           1
C        1    0    0    1           0
D        0    0    0    0           0
E        1    1    1    0           1
F        1    0    0    0           0
G        1    1    1    1           1
H        0    0    0    0           1
I        0    1    0    1           0
J        0    0    1    0           0
K        0    0    0    1           0
L        0    0    0    1           0
M        0    0    0    1           1
N        1    1    1    0           1
O        0    0    0    0           0

In [3]:
T12 = df.drop(['TF3', 'TF4', 'expression'], axis=1)
#print(T12)
T12_l = T12.values.tolist()
#T12_l

In [4]:
sr = pd.Series(T12_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0]    7
[1, 1]    5
[1, 0]    2
[0, 1]    1
dtype: int64

In [5]:
T12e = df.drop(['TF3', 'TF4'], axis=1)
T12e_l = T12e.values.tolist()
#T12e_l

In [6]:
sr = pd.Series(T12e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0, 0]    5
[1, 1, 1]    5
[1, 0, 0]    2
[0, 0, 1]    2
[0, 1, 0]    1
dtype: int64

In [7]:
val12e_00 = [5, 2]
val12e_11 = [0 ,5]
val12e_10 = [2, 0]
val12e_01 = [1, 0]
dict12e = {"[0 ,0]": val12e_00, "[1, 1]": val12e_11, "[1, 0]": val12e_10, "[0, 1]": val12e_01}

df12e = pd.DataFrame.from_dict(dict12e)
df12e

   [0 ,0]  [1, 1]  [1, 0]  [0, 1]
0       5       0       2       1
1       2       5       0       0

In [8]:
from sklearn.metrics.cluster import normalized_mutual_info_score

In [9]:
# 偏りが大きいとTF1, TF2セットでexpression と関係があるだろう、ということがわかる
print("I(TF1, TF2 | expression) = ", normalized_mutual_info_score([5, 0, 2, 1], [2, 5, 0, 0])) #相互情報量

TF1, TF2, expression の相関係数 =  0.8660254037844386

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [10]:
T13 = df.drop(['TF2', 'TF4', 'expression'], axis=1)
#print(T13)
T13_l = T13.values.tolist()
#T13_l

In [11]:
sr = pd.Series(T13_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0]    7
[1, 1]    5
[1, 0]    2
[0, 1]    1
dtype: int64

In [12]:
T13e = df.drop(['TF2', 'TF4'], axis=1)
T13e_l = T13e.values.tolist()
#T13e_l

sr = pd.Series(T13e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0, 0]    5
[1, 1, 1]    5
[1, 0, 0]    2
[0, 0, 1]    2
[0, 1, 0]    1
dtype: int64

In [13]:
val13e_00 = [5, 2]
val13e_11 = [0 ,5]
val13e_10 = [2, 0]
val13e_01 = [1, 0]
dict13e = {"[0 ,0]": val13e_00, "[1, 1]": val13e_11, "[1, 0]": val13e_10, "[0, 1]": val13e_01}

df13e = pd.DataFrame.from_dict(dict13e)
df13e

   [0 ,0]  [1, 1]  [1, 0]  [0, 1]
0       5       0       2       1
1       2       5       0       0

In [14]:
print("I(TF1, TF3 | expression) = ", normalized_mutual_info_score([5, 0, 2, 1], [2, 5, 0, 0])) #相互情報量

TF1, TF3, expression の相互情報量 =  0.8660254037844386

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [15]:
T14 = df.drop(['TF2', 'TF3', 'expression'], axis=1)
#print(T14)
T14_l = T14.values.tolist()
#T14_l

In [16]:
sr = pd.Series(T14_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 0]    5
[0, 0]    4
[0, 1]    4
[1, 1]    2
dtype: int64

In [17]:
T14e = df.drop(['TF2', 'TF3'], axis=1)
T14e_l = T14e.values.tolist()
#T14e_l

sr = pd.Series(T14e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 0, 1]    4
[0, 1, 0]    3
[0, 0, 0]    3
[0, 0, 1]    1
[1, 1, 0]    1
[1, 1, 1]    1
[1, 0, 0]    1
[0, 1, 1]    1
dtype: int64

In [18]:
val14e_00 = [3, 1]
val14e_11 = [1 ,1]
val14e_10 = [1, 4]
val14e_01 = [3, 1]
dict14e = {"[0 ,0]": val14e_00, "[1, 1]": val14e_11, "[1, 0]": val14e_10, "[0, 1]": val14e_01}

df14e = pd.DataFrame.from_dict(dict14e)
df14e

   [0 ,0]  [1, 1]  [1, 0]  [0, 1]
0       3       1       1       3
1       1       1       4       1

In [19]:
print("I(TF1, TF4 | expression) = ", normalized_mutual_info_score([3, 1, 1, 3], [1, 1, 4, 1])) #相互情報量

TF1, TF4, expression の相互情報量 =  0.3455920299442113

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [20]:
T23 = df.drop(['TF1', 'TF4', 'expression'], axis=1)
#print(T23)
T23_l = T23.values.tolist()
#T23_l

In [21]:
sr = pd.Series(T23_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0]    8
[1, 1]    5
[1, 0]    1
[0, 1]    1
dtype: int64

In [22]:
T23e = df.drop(['TF1', 'TF4'], axis=1)
T23e_l = T23e.values.tolist()
#T23e_l

sr = pd.Series(T23e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0, 0]    6
[1, 1, 1]    5
[0, 0, 1]    2
[1, 0, 0]    1
[0, 1, 0]    1
dtype: int64

In [23]:
val23e_00 = [6, 2]
val23e_11 = [0 ,5]
val23e_10 = [1, 0]
val23e_01 = [1, 0]
dict23e = {"[0 ,0]": val23e_00, "[1, 1]": val23e_11, "[1, 0]": val23e_10, "[0, 1]": val23e_01}

df23e = pd.DataFrame.from_dict(dict23e)
df23e

   [0 ,0]  [1, 1]  [1, 0]  [0, 1]
0       6       0       1       1
1       2       5       0       0

In [24]:
print("I(TF2, TF3 | expression) = ", normalized_mutual_info_score([6, 0, 1 ,1], [2, 5, 0, 0])) #相互情報量

TF2, TF3, expression の相互情報量 =  1.0

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [25]:
T24 = df.drop(['TF1', 'TF3', 'expression'], axis=1)
#print(T24)
T24_l = T24.values.tolist()
#T24_l

In [26]:
sr = pd.Series(T24_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0]    5
[0, 1]    4
[1, 0]    4
[1, 1]    2
dtype: int64

In [27]:
T24e = df.drop(['TF1', 'TF3'], axis=1)
T24e_l = T24e.values.tolist()
#T24e_l

sr = pd.Series(T24e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 0, 1]    4
[0, 0, 0]    4
[0, 1, 0]    3
[1, 1, 0]    1
[0, 1, 1]    1
[0, 0, 1]    1
[1, 1, 1]    1
dtype: int64

In [28]:
val24e_00 = [4, 1]
val24e_11 = [1 ,1]
val24e_10 = [0, 4]
val24e_01 = [3, 1]
dict24e = {"[0 ,0]": val24e_00, "[1, 1]": val24e_11, "[1, 0]": val24e_10, "[0, 1]": val24e_01}

df24e = pd.DataFrame.from_dict(dict24e)
df24e

   [0 ,0]  [1, 1]  [1, 0]  [0, 1]
0       4       1       0       3
1       1       1       4       1

In [29]:
print("I(TF2, TF4 | expression) = ", normalized_mutual_info_score([4, 1, 0, 3], [1, 1, 4, 1])) #相互情報量

TF2, TF4, expression の相互情報量 =  0.6368979998630601

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [30]:
T34 = df.drop(['TF1', 'TF2', 'expression'], axis=1)
#print(T34)
T34_l = T34.values.tolist()
#T34_l

In [31]:
sr = pd.Series(T34_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 1]    5
[1, 0]    5
[0, 0]    4
[1, 1]    1
dtype: int64

In [32]:
T34e = df.drop(['TF1', 'TF2'], axis=1)
T34e_l = T34e.values.tolist()
#T34e_l

sr = pd.Series(T34e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 1, 0]    4
[1, 0, 1]    4
[0, 0, 0]    3
[1, 0, 0]    1
[0, 1, 1]    1
[0, 0, 1]    1
[1, 1, 1]    1
dtype: int64

In [33]:
val34e_00 = [3, 1]
val34e_11 = [0 ,1]
val34e_10 = [1, 4]
val34e_01 = [4, 1]
dict34e = {"[0 ,0]": val34e_00, "[1, 1]": val34e_11, "[1, 0]": val34e_10, "[0, 1]": val34e_01}

df34e = pd.DataFrame.from_dict(dict34e)
df34e

   [0 ,0]  [1, 1]  [1, 0]  [0, 1]
0       3       0       1       4
1       1       1       4       1

In [34]:
print("I(TF3, TF4 | expression) = ", normalized_mutual_info_score([3, 0 ,1, 4], [1, 1, 4, 1])) #相互情報量

TF3, TF4, expression の相互情報量 =  0.6368979998630601

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [35]:
T123 = df.drop(['TF4', 'expression'], axis=1)
#print(T123)
T123_l = T123.values.tolist()
#T123_l

In [36]:
sr = pd.Series(T123_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0, 0]    6
[1, 1, 1]    5
[1, 0, 0]    2
[0, 1, 0]    1
[0, 0, 1]    1
dtype: int64

In [37]:
T123e = df.drop(['TF4'], axis=1)
T123e_l = T123e.values.tolist()
#T123e_l

sr = pd.Series(T123e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 1, 1, 1]    5
[0, 0, 0, 0]    4
[1, 0, 0, 0]    2
[0, 0, 0, 1]    2
[0, 1, 0, 0]    1
[0, 0, 1, 0]    1
dtype: int64

In [38]:
val123e_000 = [4, 2]
val123e_111 = [0 ,5]
val123e_100 = [2, 0]
val123e_010 = [1, 0]
val123e_001 = [1, 0]

dict123e = {"[0 ,0, 0]": val123e_000, "[1, 1, 1]": val123e_111, "[1, 0, 0]": val123e_100, "[0, 1, 0]": val123e_010, "[0, 0, 1]": val123e_001}

df123e = pd.DataFrame.from_dict(dict123e)
df123e

   [0 ,0, 0]  [1, 1, 1]  [1, 0, 0]  [0, 1, 0]  [0, 0, 1]
0          4          0          2          1          1
1          2          5          0          0          0

In [39]:
print("I(TF1, TF2, TF3 | expression) = ", normalized_mutual_info_score([4, 0, 2, 1, 1], [2, 5, 0, 0, 0])) #相互情報量

TF1, TF2, TF3, expression の相互情報量 =  0.8445829977473509

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [40]:
T124 = df.drop(['TF3', 'expression'], axis=1)
#print(T124)
T124_l = T124.values.tolist()
#T124_l

In [41]:
sr = pd.Series(T124_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 1, 0]    4
[0, 0, 0]    4
[0, 0, 1]    3
[0, 1, 1]    1
[1, 0, 1]    1
[1, 1, 1]    1
[1, 0, 0]    1
dtype: int64

In [42]:
T124e = df.drop(['TF3'], axis=1)
T124e_l = T124e.values.tolist()
#T124e_l

sr = pd.Series(T124e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 1, 0, 1]    4
[0, 0, 0, 0]    3
[0, 0, 1, 0]    2
[0, 0, 0, 1]    1
[1, 0, 1, 0]    1
[0, 1, 1, 0]    1
[0, 0, 1, 1]    1
[1, 1, 1, 1]    1
[1, 0, 0, 0]    1
dtype: int64

In [43]:
val124e_000 = [3, 1]
val124e_111 = [0 ,1]
val124e_100 = [1, 0]
val124e_010 = [1, 0]
val124e_001 = [2, 1]
val124e_011 = [1, 0]
dict124e = {
    "[0 ,0, 0]": val124e_000, "[1, 1, 1]": val124e_111, "[1, 0, 0]": val124e_100, 
    "[0, 1, 0]": val124e_010, "[0, 0, 1]": val124e_001,  "[0, 1, 1]": val124e_011}

df124e = pd.DataFrame.from_dict(dict124e)
df124e

   [0 ,0, 0]  [1, 1, 1]  [1, 0, 0]  [0, 1, 0]  [0, 0, 1]  [0, 1, 1]
0          3          0          1          1          2          1
1          1          1          0          0          1          0

In [44]:
print("I(TF1, TF2, TF4 | expression) = ", normalized_mutual_info_score([3, 0, 1, 1, 2, 1], [1, 1, 0, 0, 1, 0])) #相互情報量

TF1, TF2, TF4, expression の相互情報量 =  0.7469175933811301

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [45]:
T134 = df.drop(['TF2', 'expression'], axis=1)
#print(T134)
T134_l = T134.values.tolist()
#T134_l

In [46]:
sr = pd.Series(T134_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0, 1]    4
[1, 1, 0]    4
[0, 0, 0]    3
[1, 0, 1]    1
[0, 1, 0]    1
[1, 1, 1]    1
[1, 0, 0]    1
dtype: int64

In [47]:
T134e = df.drop(['TF2'], axis=1)
T134e_l = T134e.values.tolist()
#T134e_l

sr = pd.Series(T134e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 1, 0, 1]    4
[0, 0, 1, 0]    3
[0, 0, 0, 0]    2
[0, 0, 0, 1]    1
[1, 0, 1, 0]    1
[0, 0, 1, 1]    1
[1, 1, 1, 1]    1
[1, 0, 0, 0]    1
[0, 1, 0, 0]    1
dtype: int64

In [48]:
val134e_000 = [3, 1]
val134e_111 = [0 ,1]
val134e_100 = [1, 0]
val134e_010 = [1, 0]
val134e_001 = [3, 1]
val134e_101 = [1, 0]
dict134e = {
    "[0 ,0, 0]": val134e_000, "[1, 1, 1]": val134e_111, "[1, 0, 0]": val134e_100, 
    "[0, 1, 0]": val134e_010, "[0, 0, 1]": val134e_001,  "[0, 1, 1]": val134e_101}

df134e = pd.DataFrame.from_dict(dict134e)
df134e

   [0 ,0, 0]  [1, 1, 1]  [1, 0, 0]  [0, 1, 0]  [0, 0, 1]  [0, 1, 1]
0          3          0          1          1          3          1
1          1          1          0          0          1          0

In [49]:
print("I(TF1, TF3, TF4 | expression) = ", normalized_mutual_info_score([3, 0, 1, 1, 3, 1], [1, 1, 0, 0, 1, 0])) #相互情報量

TF1, TF3, TF4, expression の相互情報量 =  0.8278474974061264

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [50]:
T234 = df.drop(['TF1', 'expression'], axis=1)
#print(T234)
T234_l = T234.values.tolist()
#T234_l

In [51]:
sr = pd.Series(T234_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[0, 0, 0]    4
[0, 0, 1]    4
[1, 1, 0]    4
[1, 1, 1]    1
[1, 0, 1]    1
[0, 1, 0]    1
dtype: int64

In [52]:
T234e = df.drop(['TF1'], axis=1)
T234e_l = T234e.values.tolist()
#T234e_l

sr = pd.Series(T234e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 1, 0, 1]    4
[0, 0, 1, 0]    3
[0, 0, 0, 0]    3
[1, 0, 1, 0]    1
[0, 1, 0, 0]    1
[0, 0, 0, 1]    1
[1, 1, 1, 1]    1
[0, 0, 1, 1]    1
dtype: int64

In [53]:
val234e_000 = [3, 1]
val234e_111 = [0 ,1]
val234e_010 = [1, 0]
val234e_001 = [3, 1]
val234e_101 = [1, 0]
dict234e = {"[0 ,0, 0]": val234e_000, "[1, 1, 1]": val234e_111, "[0, 1, 0]": val234e_010, "[0, 0, 1]": val234e_001,  "[0, 1, 1]": val234e_101}

df234e = pd.DataFrame.from_dict(dict234e)
df234e

   [0 ,0, 0]  [1, 1, 1]  [0, 1, 0]  [0, 0, 1]  [0, 1, 1]
0          3          0          1          3          1
1          1          1          0          1          0

In [54]:
print("I(TF2, TF3, TF4 | expression) = ", normalized_mutual_info_score([3, 0, 1, 3, 1], [1, 1, 0, 1, 0])) #相互情報量

TF2, TF3, TF4, expression の相互情報量 =  0.7987327627644502

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [55]:
T1234 = df.drop(['expression'], axis=1)
#print(T1234)
T1234_l = T1234.values.tolist()
#T1234_l

In [56]:
sr = pd.Series(T1234_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 1, 1, 0]    4
[0, 0, 0, 0]    3
[0, 0, 0, 1]    3
[0, 1, 0, 1]    1
[1, 0, 0, 1]    1
[0, 0, 1, 0]    1
[1, 1, 1, 1]    1
[1, 0, 0, 0]    1
dtype: int64

In [57]:
T1234e_l = df.values.tolist()
#T124e_l

sr = pd.Series(T1234e_l)
sr.value_counts() # それぞれの値の出現回数をカウントしてくれる。

[1, 1, 1, 0, 1]    4
[0, 0, 0, 1, 0]    2
[0, 0, 0, 0, 0]    2
[0, 0, 0, 0, 1]    1
[0, 0, 0, 1, 1]    1
[1, 0, 0, 1, 0]    1
[0, 1, 0, 1, 0]    1
[1, 1, 1, 1, 1]    1
[1, 0, 0, 0, 0]    1
[0, 0, 1, 0, 0]    1
dtype: int64

In [58]:
val1234e_1110 = [0, 4]
val1234e_0000 = [2 ,1]
val1234e_0001 = [2, 1]
val1234e_0101 = [1, 0]
val1234e_1001 = [1, 0]
val1234e_0010 = [1, 0]
val1234e_1111 = [0, 1]
val1234e_1000 = [1, 0]

dict1234e = {
    "[1,1, 1, 0]": val1234e_1110, "[0, 0, 0, 0]": val1234e_0000, "[0, 0, 0, 1]": val1234e_0001, 
    "[0, 1, 0, 1]": val1234e_0101, "[1, 0, 0, 1]": val1234e_1001, "[0, 0, 1, 0]": val1234e_1001, 
    "[1, 1, 1, 1]": val1234e_1111, "[1, 0, 0, 0]": val1234e_1000}

df1234e = pd.DataFrame.from_dict(dict1234e)
df1234e

,"[1,1, 1, 0]","[0, 0, 0, 0]","[0, 0, 0, 1]","[0, 1, 0, 1]","[1, 0, 0, 1]","[0, 0, 1, 0]","[1, 1, 1, 1]","[1, 0, 0, 0]"
0,0,2,2,1,1,1,0,1
1,4,1,1,0,0,0,1,0

In [59]:
print("I(TF1, TF2, TF3, TF4 | expression) = ", normalized_mutual_info_score([0, 2, 2, 1, 1 ,1 ,0, 1], [4, 1, 1, 0, 0, 0, 1, 0])) 
#相互情報量

TF1, TF2, TF3, TF4, expression の相互情報量 =  0.7958654927045228

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [60]:
ex = df.drop(['TF1', 'TF2', 'TF3', 'TF4'], axis=1).T
ex

ex.to_csv('expression.csv')
print(ex)

#gene       A  B  C  D  E  F  G  H  I  J  K  L  M  N  O
expression  1  1  0  0  1  0  1  1  0  0  0  0  1  1  0

In [61]:
ex_l = ex.values.tolist()
ex_l[0]

[1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0]

In [62]:
T4 = df.drop(['TF1', 'TF2', 'TF3', 'expression'], axis=1).T

T4_l = T4.values.tolist()
T4_l[0]

[0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0]

In [63]:
print("I(TF4, expression) = ", normalized_mutual_info_score(T4_l[0], ex_l[0]))  #相互情報量

TF4とexpression の相互情報量 =  0.03540165529093586

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [64]:
T3 = df.drop(['TF1', 'TF2', 'TF4', 'expression'], axis=1).T

T3_l = T3.values.tolist()
T3_l[0]

[1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0]

In [65]:
print("I(TF3, expression) = ", normalized_mutual_info_score(T3_l[0], ex_l[0])) #相互情報量

TF3とexpression の相互情報量 =  0.2828459468602975

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [66]:
T2 = df.drop(['TF1', 'TF3', 'TF4', 'expression'], axis=1).T

T2_l = T2.values.tolist()
T2_l[0]

[1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]

In [67]:
print("I(TF2, expression)  = ", normalized_mutual_info_score(T2_l[0], ex_l[0])) #相互情報量

TF2とexpression の相互情報量 =  0.2828459468602975

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [68]:
T1 = df.drop(['TF2', 'TF3', 'TF4', 'expression'], axis=1).T

T1_l = T1.values.tolist()
T1_l[0]

[1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0]

In [69]:
print("I(TF1, expression)  = ", normalized_mutual_info_score(T1_l[0], ex_l[0])) #相互情報量

TF1とexpression の相互情報量 =  0.16183960796129196

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [70]:
val1_TF1 = [normalized_mutual_info_score(T1_l[0], ex_l[0])]
val1_TF2 = [normalized_mutual_info_score(T2_l[0], ex_l[0])]
val1_TF3 = [normalized_mutual_info_score(T3_l[0], ex_l[0])]
val1_TF4 = [normalized_mutual_info_score(T4_l[0], ex_l[0])]

dict1_result = {"TF1": val1_TF1, "TF2": val1_TF2, "TF3": val1_TF3, "TF4": val1_TF4}

df1_result = pd.DataFrame.from_dict(dict1_result)
df1_result

/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)
/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)
/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)
/miniconda3/lib/python3.7/site-packages/sklearn/metrics/cluster/supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

       TF1       TF2       TF3       TF4
0  0.16184  0.282846  0.282846  0.035402

In [71]:
val2_TF12 = [0.8660254037844386]
val2_TF13 = [0.8660254037844386]
val2_TF14 = [0.3455920299442113]
val2_TF23 = [1.0]
val2_TF24 = [0.6368979998630601]
val2_TF34 = [0.6368979998630601]

dict2_result = {
    "TF1, TF2": val2_TF12, "TF1, TF3": val2_TF13, "TF1, TF4": val2_TF14, 
    "TF2, TF3": val2_TF23, "TF2, TF4": val2_TF24, "TF3, TF4": val2_TF34}

df2_result = pd.DataFrame.from_dict(dict2_result)
df2_result

   TF1, TF2  TF1, TF3  TF1, TF4  TF2, TF3  TF2, TF4  TF3, TF4
0  0.866025  0.866025  0.345592       1.0  0.636898  0.636898

In [72]:
val3_TF123 = [0.8445829977473509]
val3_TF124 = [0.7469175933811301]
val3_TF134 = [0.8278474974061264]
val3_TF234 = [ 0.7987327627644502]

dict3_result = {
    "TF1, TF2, TF3": val3_TF123, "TF1, TF2, TF4": val3_TF124, "TF1, TF3, TF4": val3_TF134, 
    "TF2, TF3, TF4": val3_TF234}

df3_result = pd.DataFrame.from_dict(dict3_result)
df3_result

   TF1, TF2, TF3  TF1, TF2, TF4  TF1, TF3, TF4  TF2, TF3, TF4
0       0.844583       0.746918       0.827847       0.798733

In [73]:
dict4_result = {"TF1, TF2, TF3, TF4": [ 0.7958654927045228]}

df4_result = pd.DataFrame.from_dict(dict4_result)
df4_result

   TF1, TF2, TF3, TF4
0            0.795865